---
import Layout from "../../layouts/Layout.astro";
import Sidebar from "../../components/Sidebar";
import { buildMenuTree } from "../../utils/helper.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
import themeConfig from "../../../theme.config";
import LHCFormsWidget from "../../components/lhc-forms-widget/lhc-forms-widget.astro";
import { getFiledatails } from "./service";
import LHCFormsResponseWidget from "../../components/lhc-forms-widget/ihc-form-response-widget.astro";

const { contentCollectionSort } = themeConfig || {};
const zitadel_user_id = Astro.cookies.get("zitadel_user_id");
const userId = zitadel_user_id?.value;
const files = import.meta.glob("/src/content/lforms/**/*.{json,yml}", {
  eager: true,
});
const dirName = "lforms";
// Build the menu tree
const menuTree = buildMenuTree(files, dirName, contentCollectionSort, "asc");
function removeSubmissions(menuTree: any[]): any[] {
  return menuTree.filter((item) => item.name !== "Submissions");
}
const filteredMenuTree = removeSubmissions(menuTree);
const fileName = filteredMenuTree[0].path.split("/").pop() || "";
const filePath = `/content/lforms/submissions/${userId}.${fileName}.lform-submittion.json`;
const data = await getFiledatails(filePath, fileName);

const title = fileName.replace(/\.(json|yml)$/, "").replace(/[-_.]+/g, " ");

const { searchParams } = Astro.url;
const currentTab = searchParams.get("tab"); // Get 'tab' parameter
const url = Astro.url;
const submittedForm = searchParams.get("submitted-form");

const activeTabClass =
  " text-blue-600 bg-gray-100 active dark:bg-gray-800 dark:text-blue-500";

const inActiveTabClass =
  "hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300";
---

<Layout>
  <main class="max-w-full mx-auto min-h-[70vh] grid grid-cols-12 gap-6 flex">
    <div
      class="col-span-12 md:col-span-4 lg:col-span-3 xl:col-span-2 bg-white p-3 shadow-xs"
    >
      <!-- Left Menu Content Goes Here -->
      <div id="starlight__sidebar" class="sidebar-pane">
        <div class="sidebar-content">
          <div class="sidebar sl-flex sidebar-left-menu font-medium text-base">
            <Sidebar menuTree={filteredMenuTree} />
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-span-12 md:col-span-8 lg:col-span-9 xl:col-span-10 pb-5 pt-0 md:pt-5 px-5 md:px-0 md:pr-5"
    >
      <Breadcrumbs
        linkTextFormat="capitalized"
        ariaLabel="Site navigation"
        separatorAriaHidden={false}
      >
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
      <div class="border-b border-slate-300 pb-3">
        <h1 class="text-2xl lg:text-4xl font-bold text-slate-700 mt-4 mb-1">
          {title}
        </h1>
      </div>

      <ul
        class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
      >
        <li class="me-2">
          <a
            href="?tab=form"
            aria-current="page"
            class=`inline-block p-4 rounded-t-lgc ${currentTab=='form' || currentTab == "" || currentTab == null ? activeTabClass: inActiveTabClass}`
          >
            Dashboard
          </a>
        </li>
        <li class="me-2">
          <a
            href="?tab=data"
            class=`inline-block p-4 rounded-t-lg ${currentTab=='data'? activeTabClass: inActiveTabClass}`
          >
            Submitted Entries
          </a>
        </li>
      </ul>
      {
        currentTab == "form" || currentTab == "" || currentTab == null ? (
          <div class="p-4">
            <h2 class="text-lg font-bold">{title}</h2>
            <LHCFormsWidget fileName={fileName} />
          </div>
        ) : (
          ""
        )
      }

      {
        currentTab == "data" ? (
          <div id="submitted-data" class="p-4">
            {submittedForm ? (
              <LHCFormsResponseWidget fileName={submittedForm} />
            ) : (
              <table>
                <thead>
                  <tr>
                    <th class="text-left p-2">File</th>
                    <th class="text-left p-2"> Date</th>
                  </tr>
                </thead>
                <tbody>
                  {data.map(
                    (
                      item: { uri: string; file_date: string | number | Date },
                      index: any
                    ) => (
                      <tr>
                        <td class="p-2 break-all">
                          <a
                            href={`${url}&submitted-form=${item.uri.split("/").pop()}`}
                          >
                            {item.uri.split("/").pop()}
                          </a>
                        </td>
                        <td class="p-2">
                          {new Date(item.file_date).toDateString()}
                        </td>
                      </tr>
                    )
                  )}
                </tbody>
              </table>
            )}
          </div>
        ) : (
          ""
        )
      }
    </div>
  </main>
</Layout>
