---
import Layout from "../layouts/Layout.astro";
import { buildMenuTree } from "../utils/helper.astro";
import MyContent from "../content/progress/activity-logs/activity-log.md";
import LatestUpdates from "../components/LatestUpdates.astro";
import themeConfig from "../../theme.config";
import SkipTo from "../components/home/skipTo.astro";
import KeyResources from "../components/home/keyReources.astro";
import MeetingMinutes from "../components/home/meetingMinutes.astro";
import LatestBlogs from "../components/home/blogLatest.astro";
import Accomplishments from "../components/home/accomplishments.astro";
import ItGovernance from "../components/home/itGovernance.astro";
import Teams from "../components/teams/teams";
import ActivityLog from "../components/home/activityLog.astro";

const trackers = themeConfig.trackers;
const { title, description, activeProject } = themeConfig || {};
const files = import.meta.glob("/src/content/progress/**/*.{md,mdx}", {
  eager: true,
});
const dirName = "progress";
const menuTree = buildMenuTree(files, dirName);
---

<Layout title="Expectations and Outcomes Hub Theme">
  <main class="max-w-full mx-auto px-3 sm:px-4 lg:px-4 pt-6 min-h-[70vh]">
    <div class="border-b border-slate-300 dark:border-gray-600 pb-3">
      <h1 class="text-2xl lg:text-4xl font-bold text-slate-700 dark:text-gray-300 mt-2">
        Welcome to {title}
      </h1>
      <p class="text-slate-500 dark:text-gray-300 mt-1 font-semibold">{description}</p>
      <p class="text-slate-500 dark:text-gray-300 mt-3 font-semibold">
        New to the Hub? <a target="_blank" href="/presentation">Click here</a> to
        view the overview presentation
      </p>
    </div>

    <section class="grid grid-cols-1 lg:grid-cols-12 gap-4 mt-6">
      <div class="lg:col-span-6 bg-white dark:bg-gray-800 shadow rounded-lg p-4">
        <span class="font-semibold">Active Project: </span>{activeProject}
        <aside class="grid grid-cols-12 gap-4 flex items-center mb-3 mt-3 dark:text-gray-300">
          <div class="col-span-12 md:col-span-4">
            <div class="flex gap-2.5 items-center text-sm">
              <span
                ><img
                  src="/assets/images/fi-rr-calendar.svg"
                  class="w-4 h-4"
                  alt=""
                /></span
              >
              <span>Timeline</span>
            </div>
          </div>
          <div class="col-span-12 md:col-span-8">
            <div class="flex gap-1.5 font-semibold flex-wrap">
              <span class="bg-gray-100 dark:bg-gray-700 text-sm px-2 py-1 rounded">Q1 2025</span>
              <span class="text-sm px-2 py-1 rounded">Q2 2025</span>
            </div>
          </div>
        </aside>

        <aside class="grid grid-cols-12 gap-4 flex items-center mb-3 dark:text-gray-300">
          <div class="col-span-12 md:col-span-4">
            <div class="flex gap-2.5 items-center text-sm">
              <span
                ><img
                  src="/assets/images/fi-rr-list-check.svg"
                  class="w-4 h-4"
                  alt=""
                /></span
              >
              <span>Stage</span>
            </div>
          </div>
          <div class="col-span-12 md:col-span-8">
            <div class="flex space-x-2 font-semibold">
              <span
                class="bg-orange-100 dark:bg-gray-700 text-sm px-2 py-1 rounded flex space-x-2 items-center"
              >
                <span><img src="/assets/images/ico-progress.svg" alt="" /></span
                >
                <span>In Progress</span>
              </span>
            </div>
          </div>
        </aside>

        <aside class="grid grid-cols-12 gap-4 flex items-center mb-3 dark:text-gray-300">
          <div class="col-span-12 md:col-span-4">
            <div class="flex gap-2.5 items-center text-sm">
              <span
                ><img
                  src="/assets/images/fi-rr-user.svg"
                  class="w-4 h-4"
                  alt=""
                /></span
              >
              <span>Team Driver</span>
            </div>
          </div>
          <div class="col-span-12 md:col-span-8">
            <div class="flex gap-3 font-semibold flex-wrap">
              <div class="text-sm rounded flex space-x-2 items-center">
                <span class="rounded-full overflow-hidden w-4 h-4"
                  ><img src="/assets/images/avatar-img-1.jpg" alt="" /></span
                >
                <span>Thomas Adams</span>
              </div>
            </div>
          </div>
        </aside>

        <aside class="grid grid-cols-12 gap-4 flex items-center mb-3 dark:text-gray-300">
          <div class="col-span-12 md:col-span-4">
            <div class="flex gap-2.5 items-center text-sm">
              <span
                ><img
                  src="/assets/images/users.svg"
                  class="w-4 h-4"
                  alt=""
                /></span
              >
              <span>Eng Leads</span>
            </div>
          </div>
          <div class="col-span-12 md:col-span-8">
            <div class="flex gap-3 font-semibold flex-wrap">
              <div class="text-sm rounded flex space-x-2 items-center">
                <span class="rounded-full overflow-hidden w-4 h-4"
                  ><img src="/assets/images/avatar-img-1.jpg" alt="" /></span
                >
                <span>George Roberts</span>
              </div>
              <div class="text-sm rounded flex space-x-2 items-center">
                <span class="rounded-full overflow-hidden w-4 h-4"
                  ><img src="/assets/images/avatar-img-1.jpg" alt="" /></span
                >
                <span>Daniel Hill</span>
              </div>
            </div>
          </div>
        </aside>

        <aside class="grid grid-cols-12 gap-4 flex items-center mb-3 dark:text-gray-300">
          <div class="col-span-12 md:col-span-4">
            <a href="/team">
              <div class="flex gap-2.5 items-center text-sm">
                <span
                  ><img
                    src="/assets/images/fi-rr-rec.svg"
                    class="w-4 h-4"
                    alt=""
                  /></span
                >
                <span>Teams</span>
              </div>
            </a>
          </div>
          <div class="col-span-12 md:col-span-8">
            <div class="flex gap-3 font-semibold flex-wrap">
              <Teams client:only="react" />
            </div>
          </div>
        </aside>

        <aside class="grid grid-cols-12 gap-4 flex items-center mb-3 dark:text-gray-300">
          <div class="col-span-12 md:col-span-4">
            <div class="flex gap-2.5 items-center text-sm">
              <span
                ><img
                  src="/assets/images/fi-rr-record-vinyl.svg"
                  class="w-4 h-4"
                  alt=""
                /></span
              >
              <span>Priority</span>
            </div>
          </div>
          <div class="col-span-12 md:col-span-8">
            <div class="flex gap-1.5 font-semibold flex-wrap">
              <span class="bg-orange-100 dark:bg-gray-700 text-sm px-2 py-1 rounded">P1</span>
            </div>
          </div>
        </aside>

        <aside class="grid grid-cols-12 gap-4 flex items-center mb-3 dark:text-gray-300">
          <div class="col-span-12 md:col-span-4">
            <div class="flex gap-2.5 items-center text-sm">
              <span
                ><img
                  src="/assets/images/fi-rr-plus.svg"
                  class="w-4 h-4"
                  alt=""
                /></span
              >
              <span>Add a property</span>
            </div>
          </div>
          <div class="col-span-12 md:col-span-8"></div>
        </aside>
      </div>
      <ItGovernance />
      
    </section>

    <section class="mt-4 grid grid-cols-1 lg:grid-cols-12 gap-4">
      <Accomplishments />
      <SkipTo />

      <KeyResources />
      <LatestUpdates />

      {
        trackers.length > 0 && (
          <div class="lg:col-span-6 bg-white dark:bg-gray-800 shadow rounded-lg p-4">
            <h3 class="text-lg font-semibold text-slate-700 dark:text-gray-300">
              <div class="flex gap-2 items-center text-xl">
                <span>
                  <img
                    src="/assets/images/fi-rr-bug.svg"
                    class="w-6 h-6"
                    alt="Trackers Icon"
                  />
                </span>
                <span>Trackers</span>
              </div>
            </h3>
            <ul class="mt-2 space-y-0.5 font-semibold ml-8">
              {trackers.map((tracker) => (
                <li>
                  <a
                    href={tracker.url}
                    target="_blank"
                    class="text-sm hover:text-black"
                  >
                    {tracker.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }

      <MeetingMinutes />
      <LatestBlogs />
      <ActivityLog recordsLimit={10} showViewMoreButton={true} hoursToFetch={1}/>
      
    </section>
  </main>
</Layout>
